<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        .container {
            max-width: 450px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.</p>
        <p class="move-center">
            <a target="_blank" style="text-decoration:none; text-align:center; background-color: black; border-radius: 4px !important; color: #fff; padding:10px 10px; display:block;" href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            <strong>Reset Password</strong></a>
        </p>
        <a href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
        <p style="text-align:left">This link can only be used once. If you need to reset your password again, please visit <a href="{{domain}}/forgot" target="_blank">Tyktt</a> and request another reset.<br><br>If you did not make this request, you can simply ignore this email.

    </div>
</body>

</html>