<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Set</title>
    <style>
        .container {
            max-width: 450px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>Hello {{ user.first_name }},</p>
        
        <p>Your account has been created. Please click the link below to set your password:</p>
        <p><a href="{{ password_reset_link }}" target="_blank">Set your password</a></p>
        <p>Thank you!</p>

    </div>
</body>

</html>