{% extends 'base/base.html' %}
{% block title %} Email Verification Sent {% endblock title %}
{% load static %}

{% block cssfiles %}
<style>
  #forgot_container {
    display: grid;
    place-items: center;
    height: 90vh;
    max-width: 600px;
  }
</style>
  
{% endblock cssfiles %}

<!-------->
<!--------------------->
{% block content %}

<div id="preloader">
  <img src="{% static 'img/loader.gif' %}" alt="" width="20%">
</div>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.svg' %}" alt="" width="100">
      </a>
    </div>
  </nav>
  <!-- Navbar Ends -->

<div class="container access" id="forgot_container">
    <div class="shadow-sm rounded-3 p-5 mx-3 bg-white" data-aos="fade-up" data-aos-duration="2000">
        <span class="d-block text-center mb-3"><i class="bi bi-check-circle display-1 text-success"></i></span>
        <h3 class="text-center text-dark">Password reset done</h3>
        <p class="text-center text-secondary">We've just sent you an email. <br>Check your inbox or spam folder</p>
    </div>
</div>

{% endblock content %}