{% extends 'base/base.html' %}
{% load static %}
<!-------->
{% block title %} Create New Password {% endblock title %}

{% block cssfiles %}
<style>
  #forgot_container {
    display: grid;
    place-items: center;
    height: 90vh;
    max-width: 1000px;
  }


/* .spinner-border {
    width: 10rem;
    height: 10rem;
} */

.preloader_img{
  max-width: 300px;
}

</style>
  
{% endblock cssfiles %}
<!--------------------->
{% block content %}



   <!-- Modal -->
  <div id="preloader">
    <img src="{% static 'img/loader.gif' %}" alt="" width="20%">
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.svg' %}" alt="" width="100">
      </a>
    </div>
  </nav>
  <!-- Navbar Ends -->

<div class="container access" id="forgot_container">
    <div class="shadow-sm rounded-3 mx-3 p-3 p-md-5 form_cover bg-white" data-aos="fade-up" data-aos-duration="2000">
        <form method="post" id="password_change_form">
            {% csrf_token %}
            <h3 class="text-center mb-3">Create a new password</h3>
            <div  class="form-outline mb-4">
              <label class="form-label" for="new_password1">Enter Password</label>
              <input type="password" id="new_password1" name="new_password1" class="form-control  form-control-lg" required />
            </div>
            <div  class="form-outline mb-4">
              <label class="form-label" for="new_password2">Confirm Password</label>
              <input type="password" id="new_password2" name="new_password2" class="form-control  form-control-lg" required />
            </div>
            <button type="submit" class="btn make_bg_one text-white px-4 btn-block w-100">Save Changes</button>

            <!--------------->
            {% for field in form %}
            <!-------->
            {% for error in field.errors %}
            <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <!------->
            {% endfor %}

        </form>
    </div>
</div>

{% endblock content %}

{% block jsfiles %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const preloader = document.getElementById('preloader');
  
      document.getElementById('password_change_form').addEventListener('submit', function(event) {
          sessionStorage.setItem('preloaderVisible', 'true');
          preloader.style.display = 'flex';
      });
  

      function hidePreloader() {
          preloader.style.display = 'none';
          sessionStorage.removeItem('preloaderVisible');
      }
  

      window.onload = function() {
          if (sessionStorage.getItem('preloaderVisible') === 'false') {
              preloader.style.display = 'flex';
          }
      };
  

      document.addEventListener('filteringComplete', function() {
          hidePreloader();
      });
  });
</script>
  
{% endblock jsfiles %}